body {
  color: #808080;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  margin: 0;
  padding: 0;

  /*background-color: #000;*/
  background-image: url(../images/apple-background.png);
  margin: 0px;
  overflow: hidden;
}

a {
  color: #0080ff;
}

#container {
  cursor: url(../images/lightsaber2.png), auto;
}

#paused {
  position: absolute;
  top: -10000px;
  left: -10000px;
  /*width: 800px;*/
  /*height: 600px;*/
  z-index: 100;
  opacity: 0.6;
  background-color: black;
}

#paused img {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30%;
}
