body {
  color: #808080;
  font-family:Monospace;
  font-size:13px;
  text-align:center;
  margin: 0;
  padding: 0;

  /*background-color: #000;*/
  background-image: url(../images/apple-background.png);
  margin: 0px;
  overflow: hidden;
}

a {
  color: #0080ff;
}

#container {
}
